<h1>Busqueda</h1>

<%= form_for :post, url: posts_path do |f| %>
    <p>
      <%= f.label :search %><br>
      <%= f.text_field :query %>
    </p>
   
    <p>
      <%= f.submit 'Buscar' %>
    </p>
<% end %>
