/* TYPOGRAPHY */
/* ----------------------------------------- */

body {
	font-size:100%;
	line-height:1.125em;
        font-family: Arial, sans-serif;
}

h1 {
	font:normal normal 2em/1.2 'FontinSans', Helvetica, Verdana, Arial, sans-serif; /*-- 1.5x16px = 24pt --*/
	color:#57bbf9;
}
h2 {
	font:normal normal 1.875em/1.2 'FontinSans', Helvetica, Verdana, Arial, sans-serif; /*-- 1.875x16px = 30pt --*/
	color:#57bbf9;
}
h3 {
	font:normal normal 1.75em/1.3 'FontinSans', Helvetica, Verdana, Arial, sans-serif; /*-- 1.75x16px = 28pt --*/
	color:#57bbf9;
}
h4 {
	font:normal normal 1.5em/1 'FontinSans', Helvetica, Verdana, Arial, sans-serif; /*-- 1.5x16px = 24pt --*/
	color:#57bbf9;
}
h5 {
	font:normal normal 1.375em/2 'FontinSans', Helvetica, Verdana, Arial, sans-serif; /*-- 1.375x16px = 22pt --*/
	color:#57bbf9;
}
h6 {
	font:normal normal 1.125em/2 'FontinSans', Helvetica, Verdana, Arial, sans-serif; /*-- 1.125x16px = 18pt --*/
	color:#57bbf9;
}